
html {
	font-family: Roboto;
	font-size: 16px;
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #222222;
	color: #b5b5a4;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.favorites {
	display: flex;
	flex-direction: row;
}

.favorites-list {
	text-align: center;
	width: 10rem;
	margin: 2rem;
}

.search {
	width: 30rem;
	padding: 0.5rem;
	border: 1px solid #b5b5a4;
}

.search-box {
	width: 100%;
	margin: auto;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	color: #b5b5a4;
	border: none;
}

.search-box:focus {
	outline: none;
}

ul {
	list-style: none;
	padding: 0;
}

ul > li > p {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #b5b5a4;
	padding-right: 100%;
}

ul > li > a {
	color: #b5b5a4;
	outline: none;

	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0.5rem;
}

ul > li > a:hover {
	color: #222222;
	background-color: #b5b5a4;
}

/* webkit compat */
.container {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

.favorites {
	display: -webkit-flex;
	-webkit-flex-direction: row;
}

